{% extends 'base.html.twig' %}

{% block title %}

afficher commentaire :
{% endblock %}

{% block body %}
    <h1>
    Afficher commentaire :
    </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Contenu</th>
                 <th>Auteur</th>
                 </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ commentaire.id }}</td>
                <td>{{ commentaire.date|date("d/m/Y") }}</td>
                <td>{{ commentaire.auteur }}</td>
                </tr>
        </tbody>
    </table>

    {% endblock %}
