{% extends 'base.html.twig' %}

{% block title %}

afficher catégorie :
{% endblock %}

{% block body %}
    <h1>
    Afficher catégorie :
    </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Résumé</th>
                 <th>Articles</th>
</tr>
        </thead>
        <tbody>
            <tr>
                                <td>{{ catégorie.id }}</td>
                <td>{{ catégorie.titre }}</td>
                                <td>{{ catégorie.resume }}</td>
<td>{{ catégorie.articles }}</td>
                </tr>
        </tbody>
    </table>

    {% endblock %}
