{% extends 'base.html.twig' %}

{% block title %}
 Enregistrement d'une categorie :
 {% endblock %}

{% block body %}
 <br> <br>
 
    <h1> Enregistrement d'une categorie :</h1>

    {{ include('categorie/formulaireCategorie.html.twig') }}<br>

    <a href="{{ path('categorie_index') }}">Liste des categories :</a><br>


{% endblock %}
